<router-outlet></router-outlet>
<div>
  <h1>Real-Time Chat App</h1>

  <label for="roomSelect">Select a Room:</label>
  <select
    id="roomSelect"
    [(ngModel)]="selectedRoomId"
    (ngModelChange)="selectRoom(selectedRoomId)"
  >
    <option value="room1">Room 1</option>
    <option value="room2">Room 2</option>
    <option value="room3">Room 3</option>
  </select>

  <app-chat-input [roomId]="selectedRoomId"></app-chat-input>
  <app-chat-room [roomId]="selectedRoomId"></app-chat-room>
</div>

<!-- <app-chat-input></app-chat-input>
<app-chat-room></app-chat-room> -->
